body {
  background-color: rgb(246, 236, 222);
}

.container {
  max-width: 1000px;
  margin: 40px auto;
  padding: 30px;
  background-color: #ffffff;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: 100px;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.formBtn {
  margin-top: 64px;
  padding: 13px 3px 13px 3px;
  margin-left: 5px;
  background-color: rgb(246, 236, 222);
  border-radius: 3px;
  border: none;
  color: chocolate;
  cursor: pointer;
  white-space: nowrap;
  font-weight: bold;
}

input {
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 27px;
  color: chocolate;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 10px;
  text-align: center;
}

thead {
  background-color: #f4f4f4;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

.deleteBtn {
  background-color: rgb(255, 86, 86);
  border: none;
  border-radius: 3px;
  padding: 2px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}

.resultTable {
  width: 91%;
}

.resultBox {
  display: contents;
}

.formInput {
  width: 170px;
}
